/* project: internet services template
   author: luka cvrk (www.solucija.com) */

   
/* default styles
   -------------- */
   
body { 
	padding: 0; 
	margin: 0; 
	font: 0.7em Tahoma, sans-serif; 
	line-height: 1.5em;
	background: #fff; 
	color: #454545; 
}

a {	color: #E0691A;	background: inherit;}
a:hover { color: #6C757A; background: inherit; }

h1 { font: normal 2.1em Arial, Sans-Serif; letter-spacing: -1px; padding: 7px 0 0 8px; margin: 0; }
.dark  { color: #737373; background: inherit; font-weight: bold; }
h1 a, h2 a { text-decoration: none; }
h1 a:hover, h2 a:hover { color: #FF6600; background: inherit; }
h2 { margin: 0; padding: 0; font: bold 1.7em Arial, Sans-Serif; letter-spacing: -1px; }
h2 { font-size: 1.5em; margin-bottom: 5px; color: #000; background: inherit; }

p {	margin: 0 0 5px 0; }

ul { margin: 0; padding : 0; list-style : none; }

form { 	margin: 0; }

form div {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px;
}

input.search_s { 
	width: 292px; 
	border: 0;
	background: #FFF url(images/input.gif) no-repeat;
	padding: 4px; 
	color: #E0691A;
	font-weight: bold;
}

input.submit_s {
	background: #E0691A url(images/submit.gif) no-repeat;
	border: 0;
	padding: 2px 0;
	width: 65px;
	margin: 2 1px 4px 0;
	color: #FFF;
	font: bold 1em Arial, Sans-Serif;
}

input.login { 
	width: 150px;
	border: none; 
	
	padding: 4px; 
}

/* layout
   ------ */

.content { 
	padding: 10px;
}

.header { 
	height: 55px;
	margin: 3px 0;
	padding: 10px 0 0 0;
	border-bottom: 1px solid #ccc;
	background:#eee;
	color: #e32;
	font-size: 100%;
	font-weight: bold;
}

.top_info {
	float: right;
	width: 555px;
	padding: 5px 0 4px 0;
	border-bottom: 1px solid #eee;
	background: #eee;
	color: #808080;
}

	.top_info_left {
		width: 200px;
		float: left;
	}

	.top_info_right {
		float: right;
		width: 290px;
		padding: 0 0 0 35px;
		border-left: 1px solid #eee;
	}

.browse_category  {
	font-size: 0.9em;
	width: 190px;
	color: #FFF;
	background: inherit;
}

.bar { 
	clear: both;
	font-size: 120%;
	height: 30px; 
	color: #FFF;
	margin: 0 0 0 0px; 
	background: #FF9148;
}

	.bar li { 
		margin: 0; 
		padding: 7px 12px 5px 12px;
		color: #FFEADC;
		background: #FF9148;
		float: left; 
	}
	
	.bar li.active { 
		background: #E0691A url(images/bar.gif) no-repeat center top; 
		color: #fff;
		font-weight: bold; 
		padding: 7px 10px 6px 10px;
	}
	
	.bar li a { 
		font-weight: bold;
		color: #FFF; 
		background: inherit;
		text-decoration: none;
	} 
	
	.bar li a:hover { 
		color: #FFF; 
		background: inherit;
	} 
	
	
.search_field_s { 
	background: #fff url(images/searchbg.gif) no-repeat right; 
	color: #808080;
	clear: both;
	font-weight: bold;
	padding: 7px 25px 10px 10px;
	margin: 5px 0;
}

.grey {
	color: #808080;
	background: inherit;
	font-weight: normal;
}


.search_form_s { float: right; }

.subheader {
	margin: 0px 0 10px 0;
	border-bottom: 1px solid #eee;
	padding: 5px 0 5px 0;
	background: #A4A4A4;
	color: #fff;
}

/* left side
   --------- */

.left {
	margin: 0 0 10px 0;
}

.left h3 {
	clear: both;
	background: #FF9148;
	color: #FFF;
	padding: 7px 0 7px 5px;
	font: bold 1em Tahoma, Arial, Sans-Serif;
	margin: 0 0 0px 0;
}
	.left_side {
		float: left;
		width: 180px;
		padding: 0 0 0 10px;
		margin: 10px 0;
	}
		
	.left_side a, .right_side a { color: #414141; background: #FFF; }
		
	.right_side {
		float: right;
		width: 220px;
		background: #FFF url(images/dotted.gif) repeat-y;
		color: #414141;
		padding: 0 0 0 40px;
		margin: 10px 0;
	}
		
	.left_box { margin: 0 0 10px 0; color: #000; background: #FFF; padding: 3px 0; }
	
		
/* right side
   ---------- */
		
.right {
	float: right;
}

.right h3 {
	background: #6C757A;
	color: #FFF;
	padding: 7px 0 7px 5px;
	font: bold 1em Tahoma, Arial, Sans-Serif;
	margin: 0 0 3px 0;
}

	.right_articles {
		background: #f5f5f5;
		color: #414141;
		padding: 8px;	
		margin: 0 0 3px 0;
	}
	
.image {
	float: left;
	margin: 0 9px 3px 0;
}

/* footer
   ------ */

.footer { 
	clear: both;
	text-align: center;
	padding: 10px 0 10px 0;
	margin: 0;
	border-top: 1px solid #ccc;
	line-height: 1.8em;
}

.footer a { color: #808080; background: #fff; }

/* tables */

table {  
  width: 100%;   
  border: 1px solid #003d4c; 
  color:#333; 
  background-color: #fff;
  clear:both;    
  padding: 0;
  margin: 0 0 2em 0;
  white-space: normal;
}
th {
  background-color: #ccc;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #003d4c;
  border-bottom: 1px solid #003d4c;
  text-align: center;
  padding:1px;
}
table tr td {
  border-right: 1px solid #ccc;
  padding:4px 4px;
  vertical-align:top;
  text-align: center;
}
table tr.altRow td {
  background: #f4f4f4;
}

#main{
  display: inline;
  width:550px;
  float: left;
  padding-left: 10px;
  font-family:Verdana, Geneva, sans-serif;
  font-size:110%;
}

#main h2{
	color:#e32;
	font-size:160%;
}

#sidebar {
  width: 220px;
  float:left;
  margin: 10px 0 0 50px;
  font-family:Verdana, Geneva, sans-serif;
}

#sidebar li { 
  list-style-type: none; 
  font-size: .8em;
  color: #666666;
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EFEFEF;
}


.stat{
  display: block;
  float: left;
  font-weight: bold;
  color: black;
  text-align: center;
  width: 44px;
  height: 22px;
  padding: 1px;
  margin-right: 5px;
}

h3.heading {
   color: white; 
   font-weight: bold;
   margin-bottom:10px;
}

/******************************************************************
 +Main
******************************************************************/

#second-nav {
  height: 34px;
  margin-bottom: 10px;
  background:#ccc;
}
#second-nav li { 
  float:left; 
  margin-right: 5px; 
  margin-left: 5px;
  margin-top: 8px;
  list-style-type: none; 
  font-size: 100%;
}
#second-nav li a{ 
  color: #999;
  text-decoration: none;
  font-weight: bold;
}
#second-nav li a:hover{ 
  color: #fff;
}

/******************************************************************
 +unit
******************************************************************/

.unit .text { 
  line-height: 130%;
}

.unit .name { 
  line-height: 130%;
}

.unit .date { 
  line-height: 130%;
  margin-bottom: 20px;
}


.unit {   
  font-size: 100%;
  color: #999999;
  line-height: 140%;
  display: block;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #EFEFEF;
}

.unit a {
  color: #FF9148;
}

.unit .id {
  width: 70px;
  height: 43px;
  float: left;
  margin-right: 10px;
  padding-top: 12px;
  text-align: center;
}

.unit .link {
  float: right;
  margin-right: 10px;
  text-align: center;
}

.total {
  font-weight: bold;
}

h3.vacante {
	background-color:red;
}

h3.cubierto {
	background-color:#06F;
}

h3.cancelado {
  background-color:#0C0;
}

h3.borrador {
	background-color:#C6C;
}

.vacante a {
	color:red;
  font-weight: bold;
}

.cubierto a {
	color:#06F;
  font-weight: bold;
}

.cancelado a {
  color: green;
  font-weight: bold;
}

.borrador a {
	color:#C6C;
  font-weight: bold;
}

.vacante{
	color:red;
  font-weight: bold;
}

.cubierto {
	color:#06F;
  font-weight: bold;
}

.cancelado{
  color: green;
  font-weight: bold;
}

.borrador{
	color:#C6C;
  font-weight: bold;
}

/** Forms **/
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}
fieldset {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	padding: 16px 20px;
}
fieldset legend {
	background:#fff;
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form .input {
	color: #444;
}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: block;
	font-size: 110%;
	margin-bottom:3px;
}
input, textarea {
	clear: both;
	font-size: 140%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 1%;
	width:98%;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	width: auto;
}
form .submit input[type=submit] {
	background:#62af56;
	background: -webkit-gradient(linear, left top, left bottom, from(#a8ea9c), to(#62af56));
	background-image: -moz-linear-gradient(top, #a8ea9c, #62af56);
	border-color: #2d6324;
	color: #000;
	text-shadow: #8cee7c 0px 1px 0px;
}
form .submit input[type=submit]:hover {
	background:#4ca83d;
	background: -webkit-gradient(linear, left top, left bottom, from(#85e573), to(#4ca83d));
	background-image: -moz-linear-gradient(top, #85e573, #4ca83d);
}

.notice {
	background: #ffcc00;
	color: #000;
	display: block;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background: light-green;
	color: #fff;
	display: block;
	font-size: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.warnings {
	background: red;
	color: #fff;
	display: block;
	font-size: 140%;
	padding: 0.8em;
	margin: 1em 0;
}

/** Paging **/
div.paging {
	background:#fff;
	color: #ccc;
	margin-top: 1em;
	clear:both;
}
div.paging span.disabled {
	color: #ddd;
	display: inline;
}
div.paging span.current {
	color: #c73e14;
}
div.paging span a {
}

/* used invoice form */
#invoicecol1{
  width: 280px;
}

#invoicecol2{
  width: 280px;
  float: right;
}

#total{
	float:right;
}

/* flash-messages */

.error {
    width:100%; border-style: solid; border-width:1px; border-color:#B84D17; 
    margin-right:2px; color:#000000; margin-bottom:8px;
    background: url(/img/css/layout/icon_error.gif) left center no-repeat;
    background-color:#F7C6A5;
}
.warning {
    width:100%; border-style: solid; border-width:1px; border-color:#D0C130; 
    margin-right:2px; color:#000000; margin-bottom:8px;
    background: url(/img/css/layout/icon_warning.gif) left center no-repeat;
    background-color:#F6F3A4;
}
.succes {
    width:100%; border-style: solid; border-width:1px; border-color:#009900; 
    margin-right:2px; color:#000000; margin-bottom:8px;
    background: url(/img/css/layout/icon_success.gif) left center no-repeat;
    background-color:#A5F7A8;
}
.info {
    width:100%; border-style: solid; border-width:1px; border-color:#cccccc; 
    margin-right:2px; color:#000000; margin-bottom:8px;
    background: url(/img/css/layout/icon_info.gif) left center no-repeat;
    background-color:#ffffff;
}